.details-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: fit-content;
  margin: 160px 200px 135px 96px;
}

.item-details > * {
  margin: 30px 0;
}

.gallery-list {
  height: auto;
  justify-content: space-between;
}

.list-item-container {
  border: solid 1px lightgray;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  height: 80px;
  width: 80px;
}

.gallery-img {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.gallery-img-large {
  object-fit: contain;
  height: 550px;
  width: 550px;
}

.gallery-item-container {
  border: solid 1px lightgray;
  background-color: white;
  display: flex;
  justify-content: center;
  width: 550px;
  height: 550px;
  position: relative;
}

.gallery-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 215, 215, 0.315);
}

.gallery-cover > span {
  font-weight: 600;
  font-size: 3em;
  color: #8d8f9a;
}

.item-details {
  display: flex;
  flex-direction: column;
  width: auto;
  height: fit-content;
  margin-left: 30px;
}

.item-title-container {
  margin-top: 0;
  font-size: 1.5em;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand {
  margin: 0;
  font-weight: bolder;
}

.name {
  margin: 0;
  font-weight: 550;
}

.item-size-container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 0;
}

.item-size-container > * {
  margin-bottom: 30px;
}

.size-label {
  font-weight: 800;
  font-size: 1.4em;
}

.sizes {
  width: auto;
  height: auto;
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
  flex-wrap: wrap;
}

.size-input {
  background-color: white;
  padding: 12px 21.5px 12px 21.5px;
  font-size: 1.8em;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
}

.size-input-swatch {
  margin: 0;
  width: 45px;
  height: 40px;
  font-size: 1.5em;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
}

.no-size {
  font-size: 1.4em;
}

.show {
  box-sizing: border-box;
  background-color: #000;
  color: white;
  border: solid 3px darkred;
  padding: 10px 19.5px 10px 19.5px;
}

.item-price-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4em;
  font-weight: 600;
}

.item-price-container > p {
  margin: 0;
  font-weight: 600;
}

.add-to-cart {
  height: 50px;
  background-color: #5ece7b;
  border-color: #acffc2;
  line-height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: none;
}

.desc-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
  padding: 0 5px 0 5px;
  max-width: 250px;
  height: auto;
  color: #1d1f22;
  font-size: 1.2em;
  font-weight: 600;
}
